<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <google_optimize>
            <integration>
                <container_id>0</container_id>
                <enabled>0</enabled>
                <async>0</async>
            </integration>
            <anti_flicker>
                <enabled>0</enabled>
                <container_id></container_id>
                <include_paths></include_paths>
                <include_match_media></include_match_media>
            </anti_flicker>
        </google_optimize>
    </default>
</config>
